link rel="stylesheet" href="../libraries/bootstrap.css" type="text/css"
link rel="stylesheet" href="../public/style.css" type="text/css"

html
  body
    #headers.section
      .container
        .row
          .col-sm-3
            h5 Headers
          .col-sm-9
            h1.banner Banner
            h1 Header 1
            h2 Header 2
            h3 Header 3
            h4 Header 4
            h5 Header 5
    #buttons.section
      .container
        .row
          .col-sm-3
            h5 Button Styling
          .col-sm-9
            .row
              .col-xs-12
                h5 Main Action
              .col-sm-4
                .btn.btn-success.btn-md.btn-block Main Action
              .col-sm-4  
                .sc-button.sc-button-green.sc-button-md.sc-button-full.text-center Main Action
            .row
              .col-xs-12
                h5 Solid Button
              .col-sm-4
                .btn.btn-primary.btn-md.btn-block Solid Button
              .col-sm-4  
                .sc-button.sc-button-blue.sc-button-md.sc-button-full.text-center Solid Button
            .row
              .col-xs-12
                h5 Opaque Button
              .col-sm-4
                .btn.btn-md.btn-block Solid Button
              .col-sm-4  
                .sc-button.sc-button-md.sc-button-full.text-center Solid Button
        .row
          .col-sm-3
            h5 Button Sizing
          .col-sm-9
            .row
              .col-xs-12
                h5 Button - Large
              .col-sm-4
                .btn.btn.btn-xl.btn-block Main Action - XLarge
              .col-sm-4  
                .sc-button.sc-button.sc-button-xl.sc-button-full.text-center Button - XLarge
            .row
              .col-xs-12
                h5 Button - XLarge
              .col-sm-4
                .btn.btn.btn-xl.btn-block Main Action - XLarge
              .col-sm-4  
                .sc-button.sc-button.sc-button-xl.sc-button-full.text-center Button - XLarge
    #buttons2.section
      .container
        .row
          .col-sm-3
            h5 Forms
          .col-sm-9
            .row
              .col-xs-12
                h5 Input
            .row
              .col-sm-4
                input type="text"
            .row
              .col-xs-12
                h5 Input - Invalid
            .row
              .col-sm-4
                input.input-invalid type="text"
            .row
              .col-xs-12
                h5 Input - Large
            .row
              .col-sm-4
                input.input-lg type="text"
    #cards.section
      .container
        .row
          .col-sm-3
            h5 Cards
          .col-sm-9
            .row
              .col-sm-6.pb20
                h5 Card Medium
                .card
                  .card-depth.card-content.card-pad-md
                    h3 Card Title
                    p vit el molore excessit ute conem autem eum ullest, acieni ut volor ma velitius et lit latiam il ipsusda eremquo dolenit et, voloratem quatibus...
              .col-sm-6.pb20
                h5 Card - Large
                .card
                  .card-depth.card-content.card-pad-lg
                    h2 Card Title
                    p vit el molore excessit ute conem autem eum ullest, acieni ut volor ma velitius et lit latiam il ipsusda eremquo dolenit et, voloratem quatibus...
              .col-sm-6.pb20
                h5 Card Flat
                .card.card-flat
                  .card-content.card-pad-md
                    h3 Card Title
                    p vit el molore excessit ute conem autem eum ullest, acieni ut volor ma velitius et lit latiam il ipsusda eremquo dolenit et, voloratem quatibus...
              .col-sm-6.pb20
                h5 Card Clickable
                .card.card-clickable
                  .card-depth.card-content.card-pad-md
                    h3 Card Title
                    p vit el molore excessit ute conem autem eum ullest, acieni ut volor ma velitius et lit latiam il ipsusda eremquo dolenit et, voloratem quatibus...